* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;

  /*serve para contar a cx no tamanho estabelecido 
  header, caso contrário seriam 375+box.*/
}

:root {
  --primary-color: #00856f;
  --headline: #212529;
  --paragraph: #495057;
  --backgroundbody: #f7f9f9;
  --backgroundcards: #ffffff;
  --backgroundsection2: #fffaf1;
  --backgroundhead: #dce9e2;

  --navheigh: 7.2rem;

  font-size: 62, 5%;
  /*1 REM = 10PX // Por padrão, o chrome usa 16px, para ter
  acessibilidade de "zoom" para pessoas com dificuldade em enxergar, utilizamos 
  o REM*/
}

html,
body {
  width: 100%;
  height: 100%;

}

ul {
  list-style: none;
}

body {
  font-family: "DM Sans";
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--backgroundbody);



}

header {
  max-width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: calc(4.1rem + var(--navheigh));


}

.tamanhoh1 {
  margin-bottom: 2.4rem;
}

.tamanhop {
  margin-bottom: 3.2rem;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 130%;
  color: var(--secundary-color);
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);
}

/* Trabalhar como CX, LxAxPreenchimentos,bordas,limites de bordas, divisoes...*/

.whatsapp {
  background: var(--primary-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;

  color: #ffffff;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}

.whatsapp:hover {

  background: #0baa90;


}





/*BOTÃO DO WHASAPP FIXO + FUNÇÃO HOVER */

.whatsappfixo {
  background: #00856f;

  border: none;
  border-radius: 0.5rem;

  width: 5rem;
  height: 4rem;

  position: fixed;
  right: 0;
  bottom: 0;

}

.whatsappfixo:hover {

  width: 13rem;
  transition: 0.5s;
  background: #0baa90;
  color: #dce9e2;
  transition: 0.5s;

}

.whatsappfixo:hover .whatsapphover {

  visibility: visible;
  padding-bottom: 1rem;

}


.whatsapphover {

  visibility: hidden;
  height: 0;
  color: #dce9e2;
  letter-spacing: 0.2rem;
  /*SO DE CURIOSIDADE*/
  font-weight: bolder;
}




.estatistica h3 {
  font-size: 4.8rem;
  color: #212529;


}

.estatistica p {
  font-size: 1.6rem;
  color: var(--primary-color);
}

/*=====NAVEGACAO======*/

nav {

  max-width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
  height: var(--navheigh);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.6rem 2.4rem;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}



.scroll {

  width: 100vw;
  height: var(--navheigh);

  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

}

.scroll svg path {
  fill: white;
  stroke: white;
}



.open-button {

  background-color: transparent;
  border: none;

}




/* =============MENU EXPANDIDO======== */

/* ==== MACACADA PURA ======== */

.ismenuclosed .menu {

  display: none;

}




.hiddenscroll {

  overflow: hidden;
}

.hiddenscroll .logo svg path {

  overflow: hidden;
  fill: white;
}

.hiddenscroll .open-button svg path {
  stroke: white;
}

.menu {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  width: 100%;
  height: 100%;

  background-color: var(--primary-color);
  position: fixed;
  top: 0;

  right: 0;
  z-index: 0;


}

.menuopencss {

  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding-top: 10rem;


}

.menuopencss li a {

  color: var(--backgroundsection2)
}

.menusocialicons {

  display: flex;
  flex-direction: row;
  gap: 3.9rem;

  justify-content: center;

}


.menuopencss button {




  max-width: 27.4rem;
  background-color: white;
  color: #00856F;

  border: none;

  border-radius: 4.0rem;
  padding: 1.6rem 3.2rem;


  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;




}


.bloco {
  background-color: #fffaf1;
  border: solid 0.1rem #dce9e2;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 4rem;
  gap: 6rem;
}

header img {
  display: block;
  max-width: 26.4rem;
  margin-inline: auto;
  object-position: 0 2rem;
}

.planodefundohead {
  width: 100%;
  height: 108rem;
  background-color: var(--backgroundhead);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



/*=========Iniciando CSS <Section 1>=======*/


.section1 {
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 10rem;
}

.tamanhoh4 {
  margin-top: 10rem;
}

.cardwrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: left;
  margin-top: 6rem;
}

.card {
  background-color: var(--backgroundcards);
  max-width: 34rem;

  border-radius: 0.6rem;
  padding: 2.4rem;
}

.titlecard {
  font-size: 2.4rem;
  margin: 1.6rem 0rem;
}

.cardcontent {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/*=========Iniciando CSS <Section 2>=======*/

.section2 {
  max-width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4.1rem;
  text-align: left;
}

.p-section2 {
  margin-top: 2.4rem;
}

.doctor {
  width: 100%;
  border-radius: 2rem;
  margin-top: 6rem;
}

.backgroundsection2 {
  background-color: var(--backgroundsection2);

  padding-top: 10rem;
  padding-bottom: 10rem;
}

footer {
  max-width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 10rem;
}

footer h1 {
  text-align: left;
  margin-bottom: 3.2rem;
}

.icongroup {
  display: flex;
  gap: 0.8rem;
  margin: 1.6rem 0;
}

.icones {
  width: 2.4rem;
}

footer .whatsapp {
  margin-left: 0;
  margin-top: 3.2rem;
}

.fotonegao {
  width: 100%;
  padding-bottom: 10rem;
}

.backgroundsection3 {
  background-color: #ffffff;
  padding: 10rem 1rem 0 1rem;
}

.section3 {
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.backgroundsection4 {
  background-color: var(--primary-color);

}

.logofooter {

  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 6rem;
  padding-left: 2.6rem;
  padding-bottom: 6rem;
}

.logodoctorcare {
  padding-bottom: 2.4rem;
  max-width: 23.6rem;
}

.direitosreservados p {
  color: #fffaf1;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}



.beautysalon {
  padding-bottom: 1.2rem;
}



/*=======SOCIAL MEDIA ICONS=========*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}




.wrapper {
  display: inline-flex;
  padding-top: 5rem;
  margin-left: -2rem;
  flex-wrap: wrap
}

.wrapper .icon {
  margin: 10px 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span {
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i {
  line-height: 60px;
  font-size: 25px;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span {
  color: #fff;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
  background: #3B5999;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
  background: #46C1F6;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
  background: #e1306c;
}

.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
  background: #333;
}


.wrapper .youtube i {
  color: black;
}

.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before {
  background: #DE463B;
  color: white;
}





/*@media (min-width: 1000px) {
  .section1 {
    background-color: red;
  }

  .cardwrapper {
    display: flex;
    flex-direction: row;
  }
}